<h1><%= @customer.name %></h1>
<h2>Order: <%= @order.id %></h2>

<ul>
  <% @order_items.each do |item| %>
    <li><%= item.name %> | <%= item.quantity %> | £<%= item.item_price_at_purchase %></li>
  <% end %>
</ul>
£<%= @order.total_price  %>
<br>
<%= link_to 'Back', customer_path(@customer) %>
